@charset "utf-8";

/* CSS Document */
@font-face {
    font-family: Oxanium-Regular;
    src: url(../fonts/Oxanium-Regular.ttf);
    font-display: swap;
}

/******** navbar ********/

.header {
    padding-top: 20px;
    /* background-color: #1A1323; */
    background-image: url(../images/h3_header_bg.jpg);
    color: #ffffff;
}

.header-top {
    max-width: 1330px;
}



.top-social ul {
    list-style-type: none;

}

.top-social ul li {
    display: inline;
    font-family: 'Oxanium-Regular', cursive;
}


.top-social ul li a {

    background-color: #0a0a0a;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
    color: #ff4800;
    font-size: 12px;
    margin-left: 20px;

    background-image: url(../images/header_social_bg.jpg);
    padding: 10px;
    padding-top: 12px;

}

.top-social i {
    font-size: 20px;



}

.header-buttons p {
    display: inline-block;
    text-transform: uppercase;
    color: #cfcdcd;
    font-weight: 700;
    font-size: 11px;
    font-family: 'Oxanium-Regular', cursive;

}

.header-buttons button {
    display: inline-block;
    background: #23262d;
    text-transform: uppercase;
    color: #cfcdcd;
    font-weight: 700;
    font-size: 11px;
    font-family: 'Oxanium-Regular', cursive;
    padding: 2 px 23 px 2 px 7 px;
    border-top: 2 px solid #2a2b37;
    border-bottom: 2 px solid #2a2b37;
    border-radius: 3 px;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
}

.header-buttons button i {
    color: #ff4800;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    z-index: 9;
}

.header-two ul {
    padding-bottom: 5px;
    padding-top: 15px;
}

.header-two ul li {
    display: inline;
    list-style-type: none;

}

.header-two ul li a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #edeaea;
    line-height: 1;
    /* position: relative;
    z-index: 1; */
    font-family: 'Oxanium-Regular', cursive;
    margin-right: 20px;

}

.header-two a:active {
    color: #ff4800;
}

.header-two a:hover {
    color: #ff4800;
    text-decoration: none;
}

.header-bottom {
    background-image: url(../images/header_bottom_bg.png);
    position: absolute;
    left: 0;
    right: 0;
    width: 1499px;
    height: 28px;
    margin: 0 auto;
    z-index: -1;

}

/******** navbar ********/

.hero {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 26% 0 31%;


}