<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
        integrity="sha512-Mo79lrQ4UecW8OCcRUZzf0ntfMNgpOFR46Acj2ZtWO8vKhBvD79VCp3VOKSzk6TovLg5evL3Xi3u475Q/jMu4g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <!-- 
    <script type="text/javascript" src="FontAwesome5\js\all.min.js"></script> -->

    <footer>

        <div class="footer-top footer-bg third-footer-bg">
            <div class="container-fluid">
                <!-- Desktop view -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="logo-footer d-flex justify-content-center">
                            <a href="">
                                <img src="assets/images/f_logo_temp2.png">
                            </a>
                        </div>


                        <div class="fw-text pt-5">
                            <p style="color: #b5b5b5; font-family: 'Poppins', sans-serif;">KRIYATA is a tournament
                                management solution for managing tournaments with hassle free registrations and
                                automatic fixtures</p>
                            <div class="fw-social">
                                <ul class="ml-0 pl-0">
                                    <li>
                                        <a href="">
                                            <i class="fa fa-facebook" style="color: #b5b5b5;">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-twitter" style="color: #b5b5b5;"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-pinterest" style="color: #b5b5b5;"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-linkedin" style="color: #b5b5b5;">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 1st column -->
                    <div class="col-lg-6 col-md-6 quick-link">



                        <div class="fw-title">
                            <h3 style="font-size: 32px; color: white;">Quick
                                <span style="color: #ff5917; font-size: 29px;">Link</span></h3>



                            <div class="fw-quick-link">
                                <ul style="font-family: 'Poppins', sans-serif;">
                                    <li>
                                        <a href="about_us">About Us</a>
                                    </li>
                                    <li>
                                        <a href="how_it_works">How it Works</a>
                                    </li>
                                    <li>
                                        <a href="create">Create Event</a>
                                    </li>
                                    <li>
                                        <a href="live">Live events</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="copyright">
                    <p style="font-family: 'Poppins', sans-serif;">Copyright © <span style="color:#ff5917;">2021</span>
                        All
                        Rights Reserved</p>

                </div>
            </div>
        </div>

    </footer>

</body>



</html>