<div class="container header-top">
    <div class="logo">
        <img src="images/h3_logo.png">
    </div>

    <div class="row social-parent">
        <div class="col-6">
            <div class="top-social">
                <ul>
                    <li>Follow</li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-6 header-buttons">

            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="ml-4"> <button class="btn" type="button"><i class="fa fa-edit mr-2"></i>Sign
                        in</button>
                </div>
                <div class="ml-4">
                    <p>Or</p>
                </div>
                <div class="ml-4"><button class="btn " type="button"><i class="fa fa-edit mr-2"></i>Register</button>
                </div>

            </div>



        </div>
        <hr style="border-top:#828282 1px solid;width:100%;">
    </div>
    <div class="row header-two">
        <div class="col-6 justify-content-left">
            <ul style="padding-left: 68px">
                <li><a class=" active" href="index_1.html">Home</a></li>
                <li><a href="#">HOW IT WORKS</a></li>
                <li><a href="#">ABOUT US</a></li>

            </ul>
        </div>
        <div class="col-6 justify-content-right">
            <ul style="float:right;">
                <li class=" active"><a href="#">Create event</a></li>
                <li><a href="#">Live events</a></li>
                <li><a href="#">Dashboard</a></li>

            </ul>
        </div>

    </div>


</div>


<!-- <div class="header-bottom bg"></div> -->