<div class="logo-box"><a href="#" class="logo-text">Connect</a><a href="#" id="sidebar-close"><i
            class="material-icons">close</i></a> <a href="#" id="sidebar-state"><i class="material-icons">adjust</i><i
            class="material-icons compact-sidebar-icon">panorama_fish_eye</i></a></div>
<div class="page-sidebar-inner slimscroll">
    <ul class="accordion-menu">
        <li class="sidebar-title">
            Apps
        </li>
        <!-- <li>
            <a href="index" class="active"><i class="material-icons-outlined">dashboard</i>Dashboard</a>
        </li> -->
        <li>
            <a href="index"><i class="material-icons-outlined">text_format</i>Events</a>
        </li>
        <li>
            <a href="tournaments"><i class="material-icons-outlined">account_circle</i>Tournaments</a>
        </li>
        <li class="active-page">
            <a href="entries"><i class="material-icons-outlined">create</i>Entries</a>
        </li>
        <li>
            <a href="fixtures"><i class="material-icons-outlined">create</i>Fixtures</a>
        </li>
        <li>
            <a href="#"><i class="material-icons">text_format</i>Settings<i
                    class="material-icons has-sub-menu">add</i></a>
            <ul class="sub-menu" style="display: none;">
                <li>
                    <a href="logo">Logo</a>
                </li>
                <li>
                    <a href="settings">Nav menu</a>
                </li>
                <li>
                    <a href="contact">Contact</a>
                </li>
                <li>
                    <a href="title">Title and Description </a>
                </li>
                <li>
                    <a href="social_media">Social Media </a>
                </li>
                <li>
                    <a href="sidebar">Side Bar </a>
                </li>
            </ul>
        </li>
    </ul>
</div>