@charset "utf-8";

/* .main {
    display: none;
    transition: opacity 1s ease-in;
} */

/* CSS Document */
@font-face {
    font-family: Oxanium-Regular;
    src: url(../fonts/Oxanium-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Oxanium-Bold;
    src: url(../fonts/Oxanium-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: grind;
    src: url(../fonts/grind_demolished-webfont.woff2);
    font-display: swap;
}

/******** navbar ********/

.header {
    padding-top: 20px;
    /* background-color: #1A1323; */
    background-image: url(../images/h3_header_bg.jpg);
    color: #ffffff;


}



.sticky-menu {
    -webkit-animation: 1000ms ease-in-out;
    animation: 1000ms ease-in-out;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header-top {
    max-width: 1330px;
}



.top-social ul {
    list-style-type: none;

}

.top-social ul li {
    display: inline;
    font-family: 'Oxanium-Regular', cursive;
}


.top-social ul li a {

    background-color: #0a0a0a;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
    color: #ff4800;
    font-size: 12px;
    margin-left: 20px;

    background-image: url(../images/header_social_bg.jpg);
    padding: 10px;
    padding-top: 12px;

}

.top-social i {
    font-size: 20px;



}

.header-buttons p {
    display: inline-block;
    text-transform: uppercase;
    color: #cfcdcd;
    font-weight: 700;
    font-size: 11px;
    font-family: 'Oxanium-Regular', cursive;

}

.header-buttons button {
    display: inline-block;
    background: #23262d;
    text-transform: uppercase;
    color: #cfcdcd;
    font-weight: 700;
    font-size: 11px;
    font-family: 'Oxanium-Regular', cursive;
    padding: 2 px 23 px 2 px 7 px;
    border-top: 2 px solid #2a2b37;
    border-bottom: 2 px solid #2a2b37;
    border-radius: 3 px;
    box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
}

.header-buttons button i {
    color: #ff4800;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    z-index: 9;
}

.header-two ul {
    padding-bottom: 5px;
    padding-top: 15px;
}

.header-two ul li {
    display: inline;
    list-style-type: none;

}

.header-two ul li a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #edeaea;
    line-height: 1;
    font-family: 'Oxanium-Regular', cursive;
    margin-right: 20px;

}

.header-two a:active {
    color: #ff4800;
}

.header-two a:hover {
    color: #ff4800;
    text-decoration: none;
}

.header-bottom {
    background-image: url(../images/header_bottom_bg.png);
    position: absolute;
    left: 0;
    right: 0;
    width: 1499px;
    height: 28px;
    margin: 0 auto;
    z-index: -1;

}

/* ************mobile************ */
.navbar {
    background-image: url(../images/h3_header_bg.jpg);

}

.navbar a {
    color: #ffffff !important;
}

.navbar {
    font-family: 'Oxanium-Regular', cursive;
    font-size: 20px;
}

/******** navbar ********/

/* ****************footer*********** */
.footer-bg {
    background-color: #f9f9f9;
    background-position: top center;
    background-size: cover;
    /* padding-bottom: 65px; */
    /* position: relative; */
    z-index: 1;
    padding-left: 80px;
    padding-right: 80px;

}

.third-footer-bg {
    background-image: url("../images/t_footer_bg.jpg");
    padding-top: 50px;
    padding-bottom: 40px;
}

.quick-link {
    text-align: right;
}

.fw-title {
    margin-top: 20px;
}

.fw-quick-link {
    margin-top: 50px;
}

.fw-social a :hover {
    color: #ff5917;
}


/*Tablet view*/
@media only screen and (min-width: 700px) {


    .copyright {
        color: #b5b5b5;
        font-family: 'Poppins', sans-serif;
        padding-left: 5px;
    }

    .fw-quick-link li,
    .fw-social li {
        list-style: none;
    }

    .fw-quick-link li a,
    .fw-social li a {
        text-decoration: none;
    }

    .fw-social li {
        display: inline-block;
        padding: 5px;
    }

    .fw-quick-link li a {
        color: #b5b5b5;
        font-size: 16px;
    }

    .fw-quick-link ul {
        padding-left: 0px;
    }

}

/*Desktop view*/
@media only screen and (min-width: 1165px) {


    .fw-title h3 {
        font-size: 32px;
        font-family: 'grinddemolished';
        font-weight: normal;
        line-height: 1;
        margin-bottom: 0;
    }

    .fw-social ul li a:hover,
    .fw-quick-link ul li a:hover,
    .fw-title h3>span,
    .third-copyright-wrap .copyright-text p a {
        color: #ff5917;
    }

    .fw-quick-link li,
    .fw-social li {
        list-style: none;
    }

    .fw-quick-link li a,
    .fw-social li a {
        text-decoration: none;
    }

    .fw-text p {
        font-size: 15px;
    }

    .fw-quick-link li a {
        color: #b5b5b5;
        font-size: 16px;
    }

    .fw-social li {
        display: inline-block;
        padding: 5px;
    }

    .copyright {
        color: #b5b5b5;
        font-size: 12px;
        padding-top: 20px;
        /* padding-bottom: -10px; */
    }


}



/* *********************hero************* */

.hero {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero_1.jpg");
    background-position: center center;
    background-size: cover;
    /* position: relative; */
    padding: 10% 0 48%;
    margin-top: 6%;





}

.hero-text {
    font-family: grind;
    color: #ffffff;
    margin-top: 40px;
    font-size: 60px;
    text-transform: uppercase;
}

.hero-text h2 {
    font-size: 45px;
    /* font-weight: bold; */
}

.hero-text button {
    font-size: 17px;
    background-color: #ff5917;
    border-radius: 0;
    color: #fff;
    padding: 18px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 14px;
    cursor: pointer;

}





.hero-button a {

    color: #fff;
    cursor: pointer;

}



/* *********************hero************* */

/* *********************section-2************* */
.section-2 {
    background-color: #191D26;
    padding-top: 90px;
    padding-bottom: 90px;
    ;
    color: #ffffff;
}

.section-2 p {
    color: #FFFFFF96;
    font-family: 'Oxanium-Regular';

}


.parent {
    padding: 50px;
    border-radius: 3px;

    padding-top: 90px;


    transition: .3s;


}

.parent:hover {
    background-color: #0a0b0e;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    transform: scale(1.05, 1.05);
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;

}

.section-2 h4 {

    font-family: 'Oxanium-Bold';
}

.section_2_icons {
    border: 2px solid #ff4800;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    color: #ff4800;
    font-size: 30px;

}

/* *********************section-2************* */

/* *********************section-3************* */

.section-3 {
    background-image: url("../images/donation_bg.jpg");
    background-size: cover;
    font-family: Oxanium-Regular;
    background-position: center center;
    color: #ffffff;
    padding-top: 220px;
    padding-bottom: 150px;


}

.section-3 h2 {
    font-size: 50px;
    font-weight: bold;


}

.section-3 p {
    font-size: 20px;
    color: #cbcbcb;
    padding-top: 30px;


}

.section-3 button {
    font-size: 17px;
    background-color: #ff5917;
    border-radius: 0;
    color: #fff;
    padding: 12px 14px;
    margin-right: 14px;
    cursor: pointer;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 20px;
}

/* *********************section-3************* */
/* *********************section-3************* */

.section-4 {
    background-image: url("../images/third_contact_bg.jpg");
    background-size: cover;
    font-family: Oxanium-Regular;
    background-position: center center;
    color: #ffffff;
    padding-top: 180px;
    padding-bottom: 220px;


}

.section-4 h2 {
    font-size: 40px;
    font-weight: bold;


}

.section-4 p {
    font-size: 20px;
    color: #cbcbcb;
    padding-top: 30px;


}

.section-4 button {
    font-size: 17px;
    background-color: #ff5917;
    border-radius: 0;
    color: #fff;
    padding: 12px 14px;
    margin-right: 14px;
    cursor: pointer;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 20px;
}

/* *********************section-4************* */
/* *********************section-5************* */
.section-5 {
    /* background-image: url("../images/third_contact_bg.jpg"); */
    background-color: #191D26;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
    font-family: Oxanium-Regular;
    color: #ffffff;
}

.section-5 h2 {
    font-size: 40px;
    font-weight: bold;
}

.section-5 input {
    width: 100%;
    border: none;
    background: #292a2e;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 19px 25px;
    margin-bottom: 20px;
}

.section-5 p {
    margin-bottom: 0px;
    font-size: 18px;
}

.section-5 textarea {
    width: 100%;
    border: none;
    background: #292a2e;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 19px 25px;
    margin-bottom: 20px;
}

/* *********************section-5************* */

/* ******************live-pages **************/

.live-section1 {
    background-image: url('../images/live_bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 300px;



}

.live-section1 h2 {
    color: #ff4800;
    font-size: 40px;

    font-family: grind;
}

.live-section1 a {
    font-family: grind;
    color: #ffffff;

}

/* .live-section1 a {

    font-family: Oxanium-Regular;
    color: #ffffff;
    font-size: 20px;


} */
.main-match {
    height: 250px;
}

.live-section1 a:hover {
    color: #ffffff;
    text-decoration: none;


}

.image-bg {
    position: relative;
    z-index: 1;
    max-width: 100%;



}



.match-box {
    position: relative;
    z-index: 10;
    top: -200px;
    padding-left: 40px;
}

.match-box ul li {
    list-style-type: none;
    display: inline;
}

.match-box-mob {
    margin-top: 30px;
    max-width: 60%;
    background-color: rgba(42, 40, 49, 0.49);
    box-shadow: 0px 3px 43px 0px rgb(15 14 13 / 68%);
    padding: 50px 30px;

}

.match-box-mob p {
    font-size: 22px;
}


/* ******************live-pages **************/
/* ********    live-info ************ */
.live-info {
    margin-top: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/balls_01.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 300px;
}

.live-info h1 {
    font-family: grind;
    color: #ffffff;
    font-size: 50px;
    /* font-size: 30px; */
}



.live-info p {
    font-family: Oxanium-Regular;
    color: #ffffff;
    font-size: 20px;
    font-family: grind;
    /* font-size: 30px; */
}

/* ********    live-info ************ */


.create,
.sign-up_bg {
    background-image: url('../images/live_bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 200px;


}

.create,
.sign-up_bg h2 {
    color: #ff4800;
    font-size: 40px;
    font-family: grind;
}

.create,
.sign-up_bg input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff4800;
    font-family: Oxanium-Regular;
    ;
    color: #ffffff;
    padding: 22px;
    font-size: 18px;

    /* color: #ffffff; */
}


.create,
.sign-up_bg input:focus {
    background: transparent;
    color: #ffffff;
    border: none;
    box-shadow: 0 0 0 0.1rem #ff4800;
    /* box-shadow: 0 0 0 0.2rem rgba(177, 71, 9, 0.712); */
    /* box-shadow: none; */

}

.create,
.sign-up_bg label {
    font-family: Oxanium-Regular;
    color: #ffffff;
    font-size: 20px;

    /* color: #ffffff; */
}

.create,
.sign-up_bg textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff4800;
    font-family: Oxanium-Regular;
    color: #ffffff;
    padding: 22px;
    font-size: 15px;
}

.create,
.sign-up_bg textarea:focus {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ff4800;
    /* box-shadow: 0 0 0 0.2rem rgba(177, 71, 9, 0.712); */
    box-shadow: 0 0 0 0.1rem #ff4800;

}

.create,
.sign-up_bg button {
    background: #ff4800;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Oxanium-Regular';
    padding: 15px;
    margin-top: 30px;

    box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
    width: 30%;
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background: #ff4800;
}

.dtp div.dtp-date,
.dtp div.dtp-time {
    background: #ff4800;

}

.material-icons {
    color: #ffffff;
}

.dtp table.dtp-picker-days tr>td>a.selected {
    background: #ff4800;

}

.year-picker-item.active {
    color: #ff4800;

}


















/* ******************sign-up **************/


/*****************mobile-view*****************/

@media only screen and (max-width: 767px) {

    /* html,
    body {
        overflow-x: hidden;
    } */

    .copyright {
        color: #b5b5b5;
        font-family: 'Poppins', sans-serif;
        margin-top: 40px;

    }


    .quick-link {
        text-align: left;
        margin-top: 40px;
    }

    .fw-quick-link li,
    .fw-social li {
        list-style: none;

    }

    .fw-quick-link li a,
    .fw-social li a {
        text-decoration: none;
    }

    .fw-social li {
        display: inline-block;
        padding: 5px;
    }

    .fw-quick-link li a {
        color: #b5b5b5;
        font-size: 16px;
    }

    .fw-quick-link ul {
        padding-left: 0px;
    }

    .fw-text p {
        font-size: 14.5px;
        padding-right: 10px;
    }

    .hero {

        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero_1.jpg");
        background-position: none;
        background-size: cover;
        padding: 0px;
        padding-bottom: 50px;


    }

    .hero-text {
        font-family: 'Oxanium-Regular';
        color: #ffffff;
        margin-top: 0px;
        /* font-size: 40px; */
        text-transform: uppercase;
        text-align: center;
        padding-top: 40px;
    }

    .hero-text h2 {
        font-size: 45px;
        font-weight: bold;
        padding-top: 30px;

    }

    .hero-text button {
        font-size: 17px;
        background-color: #ff5917;
        border-radius: 0;
        color: #fff;
        padding: 18px;

        margin-right: 14px;
        cursor: pointer;

    }

    .hero-button a {

        color: #fff;
        cursor: pointer;

    }

    /* *********************section-3************* */

    .section-3 {
        background-image: url("../images/donation_bg.jpg");
        background-size: cover;
        font-family: Oxanium-Regular;
        background-position: center center;
        color: #ffffff;
        padding-top: 120px;

        text-align: center;



    }

    .section-3 h2 {
        font-size: 30px;
        font-weight: bold;


    }

    .section-3 p {
        font-size: 20px;
        color: #cbcbcb;
        padding-top: 30px;


    }

    .section-3 button {
        font-size: 17px;
        background-color: #ff5917;
        border-radius: 0;
        color: #fff;
        padding: 12px 14px;
        margin-right: 14px;
        cursor: pointer;
        padding-left: 28px;
        padding-right: 28px;
        margin-top: 20px;
    }



    /* *********************section-3************* */
    /* *********************section-2************* */
    .section-2 {
        background-color: #191D26;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #ffffff;
    }

    .section-2 p {
        color: #FFFFFF96;
        font-family: 'Oxanium-Regular';

    }


    .parent {
        padding: 20px;
        border-radius: 3px;
        padding-top: 20px;
        transition: .3s;


    }

    .parent:hover {
        background-color: #0a0b0e;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
        transform: scale(1.05, 1.05);
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
        cursor: pointer;

    }

    .section-2 h4 {

        font-family: 'Oxanium-Bold';
        font-size: 30px;
    }

    .section-2 p {


        font-size: 20px;
    }

    .section_2_icons {
        /* border: 2px solid #ff4800; */
        border: none;
        margin: 0px;
        padding: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
        color: #ff4800;
        font-size: 70px;


    }

    /* *********************section-2************* */

    /* *********************section-4************* */
    .section-4 {
        background-image: url("../images/third_contact_bg.jpg");
        background-size: cover;
        font-family: Oxanium-Regular;
        background-position: center center;
        color: #ffffff;
        padding-top: 150px;
        text-align: center;
        padding-bottom: 0px;


    }

    .section-4 h2 {
        font-size: 30px;
        font-weight: bold;


    }

    .section-4 p {
        font-size: 20px;
        color: #cbcbcb;
        padding-top: 30px;


    }

    .section-4 button {
        font-size: 17px;
        background-color: #ff5917;
        border-radius: 0;
        color: #fff;
        padding: 12px 14px;
        margin-right: 14px;
        cursor: pointer;
        padding-left: 28px;
        padding-right: 28px;
        margin-top: 20px;
    }

    /* *********************section-4************* */
    .create,
    .sign-up_bg {
        background-image: url('../images/live_bg.jpg');
        background-position: center;
        background-size: cover;
        padding-top: 80px;


    }

}